$primary-color: #001d3b
$accent-color: #00B8D9
$bg-color: #F8FAFC
$altbg-color: #d3d7da
$selection-color: #FFF498
$text-color: #1F2937
$hover-color: #4FD1C5
$alttext-color: #F8FAFC

$link-color: $accent-color
