<!-- <header>
    <a href="{{ site.url }}"><h1><span>{{ site.title }}</span></h1></a>

    <div class="social-links">
      <a href="https://github.com/ApoorvaBM6" target="_blank">GitHub</a>
      <a href="https://linkedin.com/in/apoorva-bm" target="_blank">LinkedIn</a>
      <a href="mailto:bmapoorva.nr@gmail.com">Email</a>
    </div>

    <nav>
        <a href="{{ site.url }}/#about">About</a>
        <a href="{{ site.url }}#research">Research</a>
        <a href="{{ site.url }}#contact">Contact</a>
    </nav>

</header> -->

<header>

    <div class="hero">

        <div class="hero-overlay">
            <h1>Apoorva Busunur Mallikarjuna</h1>

            <p>
                Embedded Systems • Human-Computer Interaction • Neuroergonomics and Human Factors 
            </p>

        </div>

    </div>

    <nav class="navbar">

        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#engagement">Engagement</a>
        <a href="#publications">Publications</a>
        <a href="#references">References</a>
    </nav>

</header>