#experience
  max-width: 960px
  margin: 0 auto
  padding: 50px 20px


  .markdown-content

    > h2
      margin-bottom: 45px

      color: $primary-color
      font-weight: 600


    > h3
      margin: 0
      padding: 25px 30px 5px

      border-left: 3px solid $primary-color

      color: $primary-color
      font-weight: 600


    > h3 + p
      margin: 0
      padding: 0 30px 5px

      border-left: 3px solid $primary-color

      color: #444

      line-height: 1.6


    > h3 + p + p
      margin: 0
      padding: 0 30px 20px

      border-left: 3px solid $primary-color

      color: #777

      font-size: 14px


    > h3 + p + p + p
      margin: 0
      padding: 0 30px 20px

      border-left: 3px solid $primary-color

      color: #444

      font-size: 15px
      line-height: 1.7


    strong
      color: $primary-color
      font-weight: 600


    em
      color: #777


    hr
      margin: 0 30px

      border: 0
      border-top: 1px solid #ddd