footer
  height: 80px
  width: 100%
  background: $primary-color
  background-size: cover
  margin: 0 auto
  float: none

  .content-wrap
    margin: 30px
    float: right
    color: $alttext-color

    .copyright
      margin: 0
      float: right
      @extend %small-bold
      font-size: 10px
      color: $alttext-color
    a
      @extend %small-bold
      display: inline-block
      margin-left: 20px
      color: $alttext-color

      &:hover
        color: $hover-color
